<br>Статус докумена: {{akt.status.status}}
<br>Тип документа: {{akt.doctype.doctype}}
<br>Подписание документа: {{akt.signing.typeossigning}}
<br>Регистрационный номер: {{akt.regnum}}
<br>Регистрационная дата: {{akt.regdate}}
<br>Исполнитель документа: {{akt.executor.executor}}
<br>тема: {{akt.theme.theme}}
<br>заголовок: {{akt.topic}}
<br>вид документа: {{akt.docsubtype.subtype}}
<br>подлежит опубликованию: {{akt.publicateflag}}
<br>№ газеты: {{akt.numofnewspaper}}
<br>где опубликовано: {{akt.publicatedin.publicatedin}}
<br>дата публикации: {{akt.publicatedate}}
<br> Ответственный исполнитель: {{akt.mainexecutor.mainexecutor}}
<br>дата контроля: {{akt.controldate}}
<br>результат исполнения: {{akt.result}}
<br>снято с контроля: {{akt.controloff}}
<br>кол-во листов: {{akt.pagescount}} 
<br>колво приложений:{{akt.addonscount}}
<br>Дело №:{{akt.archivedelo}}
<br>Том №:{{akt.archivetom}} 
<br>Листы:{{akt.sheetscount}}
<br>Файл:{{akt.file}}